.chatForm form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.chatInner {
    min-height: 55dvh;
    max-height: 55dvh;
    margin-bottom: 20px;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.chat {
    padding: 10px;
}
