.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__inner {
    max-width: 128px;
    max-height: 128px;
    background: #232323;
    border-radius: 16px;
}
